[submodule "kitty/kitty-themes"]
	path = kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/tomiock/kickstart.nvim.git
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts
